* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  color: black;
  font-family: Menlo, sans-serif;
}

/*NAV BAR*/

header {
  padding-bottom: 100px;
}

.nav {
  background-color: pink;
  text-align: right;
  height: 70px;
  line-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topnav {
  margin: 0 30px 0 0;
}

.topnav a:hover {
  color: black;
}

.nav a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}

.logo {
  position: absolute;
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
}

label {
  margin: 0 30px 0 0;
  font-size: 40px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

/*MAIN SITE NAVIGATION*/

.page-heading {
  display: flex;
  justify-content: center;
  margin: 50px 0px 30px 0px;
}

.wrapper {
  padding: 30px 150px;
}

.wrapper-two ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.wrapper-two li {
  height: 300px;
  width: 400px;
  border: grey solid;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline-width: 0px;
}

.coffee {
  text-align: center;
}

img {
  margin: 10px;
  height: 150px;
  width: 150px;
}

.wrapper-two h6 {
  font-weight: bold;
  color: black;
}

.coffee-info {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coffee-info span {
  align-self: center;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: black;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background: pink;
  color: black;
}

.shopping-cart {
  margin: 80px 300px;
}

.shopping-cart h2 {
  text-align: center;
}

.shopping-cart-names {
  margin-top: 100px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: solid black;
}

.shopping-cart-names span {
  margin-left: 35px;
}

.name-item {
  width: 33.5%;
}

.name-price {
  width: 17%;
}

.shopping-cart-items {
  border-top: solid black;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#brazil,
#java,
#columbia,
#italy {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.cart-item span {
  width: 10%;
}

.item-name {
  display: flex;
  align-items: center;
  width: 30%;
}

.item-name img {
  padding: 10px;
}

.btn-remove {
  margin: 10px;
  padding: 10px 20px;
  background-color: black;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.btn-remove:hover {
  background: red;
  color: black;
}

.cart-item input {
  border: none;
  font-size: 16px;
}

.input {
  width: 10%;
}

.cart-total {
  border-top: solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 20px;
}

#cart-total {
  font-size: 22px;
  align-self: flex-end;
  text-align: right;
  border: none;
}

.checkout-button {
  display: flex;
  justify-content: center;
}

.btn-checkout {
  margin: 10px;
  padding: 10px 25px;
  background-color: black;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btn-checkout:hover {
  background: pink;
  color: black;
}

/*FOOTER*/

footer {
  width: 100%;
  letter-spacing: 1px;
  line-height: 25px;
}

.footer-container {
  background-color: grey;
}

.footer-nav {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-bottom {
  text-align: center;
  background: #000;
  line-height: 75px;
  color: grey;
}

footer h2 {
  font-size: 20px;
}

.column-one a {
  color: #000;
  text-decoration: none;
}

.column-one ul {
  padding-top: 20px;
  list-style-type: none;
}

.column-two h2 {
  padding-bottom: 20px;
}

.social {
  text-align: center;
  font-size: 30px;
}

.social i {
  color: white;
}

.column-three h2 {
  padding-bottom: 20px;
}

form {
  position: relative;
  display: table;
}

input[type="email"] {
  padding: 12px 15px;
  height: 35px;
  width: 280px;
  border: solid 1px black;
  font-size: 16px;
  font-family: "Apercu", sans-serif;
  font-style: italic;
  left: 0;
}

#footer-button {
  padding: 12px 15px;
  height: 35px;
  width: 40px;
  border: solid 1px black;
  font-size: 16px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

#plane-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

/*RESPONSIVNESS*/

/*MOBILE PHONE - iPhone X*/

@media only screen and (max-width: 767px) {
  label {
    display: block;
    cursor: pointer;
    color: gray;
  }

  .topnav {
    text-align: center;
    width: 100%;
    display: none;
  }

  .topnav a {
    display: block;
    margin: 0;
  }

  #toggle:checked + .topnav {
    display: block;
    background-color: pink;
  }

  .logo a {
    margin-left: 50px;
  }

  #toggle:checked + .logo {
    display: none;
  }

  .footer-nav {
    display: block;
    text-align: center;
  }

  .column-one,
  .column-two,
  .column-three {
    padding: 20px 0 20px 0;
  }

  form {
    display: flex;
    justify-content: center;
  }

  button {
    position: relative;
  }

  .column-three form {
    display: flex;
    justify-content: center;
  }

  #footer-button {
    position: relative;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .wrapper-two ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    font-size: 10px;
  }

  .page-heading h1 {
    text-align: center;
  }

  .wrapper {
    padding: 30px 50px;
  }

  .shopping-cart {
    margin: 20px 30px;
  }

  .shopping-cart-names {
    margin-top: 50px;
  }
}

/*iPad*/

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .nav {
    height: 50px;
  }

  .logo a {
    height: 50px;
    font-size: 20px;
  }

  .logo {
    margin-top: -10px;
  }

  .topnav a {
    height: 100%;
    font-size: 10px;
    letter-spacing: -0.1px;
  }

  .topnav {
    margin-top: -10px;
  }

  .wrapper-two ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrapper-two li {
    flex-basis: 40%;
    margin: 20px;
  }

  .shopping-cart {
    margin: 20px 100px;
  }

  .wrapper {
    padding: 30px 80px;
  }

  .item-name {
    width: 55%;
  }

  .cart-item span {
    width: 30%;
  }
}
