* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  font-family: Menlo, sans-serif;
  color: black;
  font-size: 40px;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  align-self: flex-start;
}

.icon {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  height: 30px;
  top: 92%;
  left: 50%;
}

i {
  color: black;
}

i:hover {
  color: pink;
}

span:hover {
  color: pink;
}

/*RESPONSIVNESS*/

/*MOBILE PHONE - iPhone X*/

@media only screen and (max-width: 767px) {
  body {
    font-size: 20px;
  }
}
